* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:white;
}

/* Style the search field */
form.search textarea {
  padding: 1px;
  font-size: 13px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 8px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
  
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding-bottom: 1rem;
  font: 1rem;
  padding-top: 1rem;
}

div.search {
  font-size: 1.5rem;
}

.container {
  float: left;
}

.forecast {
  margin-left: 10rem;
}

#fiveDay {
  margin-left: 8rem;
  margin-top: 4rem;
}

.five-day-container h2 {
  margin-top: 5rem;
  margin-right: 0.5rem;
}

.col-md-3 {
  font-weight: bold;
  font-size: 1.4rem;
}

.col-md-9 {
  font-weight: bold;
}

button,
input {
  width: 100%;
}

.temperature {
  font-size: 1.6rem;
  font-weight: normal;
}

.humidity {
  font-size: 1.6rem;
  font-weight: normal;
}

.windSpeed {
  font-size: 1.6rem;
  font-weight: normal;
}

.cityName {
  font-size: 2rem;
  font-weight: normal;
}

.currentDate {
  font-size: 2rem;
  font-weight: normal;
}

.weatherIcon {
  font-size: 3rem;
  font-weight: normal;
}

.uvIndex {
  font-size: 1.6rem;
  font-weight: normal;
}

h3 {
  font-weight: bold;
}

.card{
  background-color: rgb(94, 94, 245);
  color: white;
  max-width: fit-content;
}

.col-md-9 {
  font-weight: lighter; 
  width: 100%;
}


#cast{
  float: right;
}

